/*************************************************
  Custom ArcGIS JavaScript API theming.
*************************************************/

// Color variables.
@import "~@arcgis/core/assets/esri/themes/base/functions";
@import "~@arcgis/core/assets/esri/themes/base/colors/scss/variables"; // calcite colors

$font-color: $Calcite_Gray_700;
$interactive-font-color: $Calcite_Gray_550;
$background-color: $Calcite_Gray_050;

$interactive-font-color--inverse: $Calcite_Gray_050;
$background-color--inverse: $Calcite_Gray_650;

$interactive-font-color--hover: offset-foreground-color($interactive-font-color, 25%);
$background-color--hover: offset-background-color($background-color, 4.75%);
$border-color--hover: offset-foreground-color($interactive-font-color, 50%);

$border-color--active: $Calcite_Highlight_Blue_350;
$background-color--active: $Calcite_Highlight_Blue_100;

$background-color--offset: offset-background-color($background-color, 4.75%);
$background-color--offset-subtle: offset-background-color($background-color, 3.5%);

$button-color: $Calcite_Highlight_Blue_350;
$button-color--bright: $Calcite_Blue_a100;
$button-color--hover: darken($button-color, 10%);
$button-color--inverse: $interactive-font-color--inverse;

$heading-color: $font-color;
$background-color--overlay: rgba(0, 0, 0, 0.7);
$opacity--disabled: 0.4;
$opacity--sortable: 0.75;
$interactive-font-color--disabled: rgba($interactive-font-color, $opacity--disabled);
$font-color--placeholder: rgba($font-color, $opacity--disabled);
$border-color: rgba($interactive-font-color, 0.3);
$border-color--subtle: rgba($interactive-font-color, 0.15);
$border-color--contrast: rgba($interactive-font-color, 0.4);

$border-color--error: $Calcite_Vibrant_Red_200;
$font-color--error: $Calcite_Red_a250;
$background-color--error: rgba($font-color--error, 0.1);

$smartmapping-slider__thumb-background-color: $interactive-font-color;
$smartmapping-slider__ramp-stroke-color: $interactive-font-color;

// Widgets to include.
// Set to `false` here by default. Comment out to include.
$include_AreaMeasurement2D: false;
$include_AreaMeasurement3D: false;
$include_Attachments: false;
// $include_Attribution: false;
$include_BasemapGallery: false;
$include_BasemapLayerList: false;
// $include_BasemapToggle: false;
$include_BinaryColorSizeSlider: false;
$include_Bookmarks: false;
$include_BuildingExplorer: false;
// $include_ButtonMenu: false;
$include_ClassedColorSlider: false;
$include_ClassedSizeSlider: false;
$include_Compass: false;
$include_ColorSizeSlider: false;
$include_ColorSlider: false;
$include_CoordinateConversion: false;
$include_DatePicker: false;
$include_Daylight: false;
$include_Directions: false;
$include_DirectLineMeasurement3D: false;
$include_DistanceMeasurement2D: false;
$include_Editor: false;
$include_ElevationProfile: false;
$include_Expand: false;
$include_Feature: false;
$include_FeatureContent: false;
$include_FeatureMedia: false;
$include_FeatureForm: false;
// $include_FeatureTable: false;
$include_FeatureTemplates: false;
// $include_Grid: false;
$include_HeatmapSlider: false;
$include_Histogram: false;
$include_HistogramRangeSlider: false;
$include_IdentityForm: false;
$include_IdentityModal: false;
$include_ItemList: false;
// $include_LayerList: false;
// $include_Legend: false;
$include_LineOfSight: false;
$include_Measurement: false;
$include_NavigationToggle: false;
$include_OpacitySlider: false;
$include_Print: false;
// $include_Popup: false;
// $include_ScaleBar: false;
$include_ScaleRangeSlider: false;
// $include_Search: false;
$include_SizeSlider: false;
$include_Sketch: false;
$include_Slice: false;
$include_Slider: false;
$include_Spinner: false;
$include_Swipe: false;
$include_TableList: false;
$include_TimePicker: false;
$include_TimeSlider: false;
// $include_Zoom: false;

// How to switch up the API font family.
// @import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
// $font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Core will do the rest.
// This is the file to start with to understand the API theming system or to make advanced theming changes.
@import "~@arcgis/core/assets/esri/themes/base/core";

/*************************************************
  Add application and widget styles.
*************************************************/

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

@import "~cov-arcgis-esm/src/Vernonia/styles/Vernonia";

@import "~cov-arcgis-esm/src/widgets/CalciteNavigation/styles/CalciteNavigation";

@import "~cov-arcgis-esm/src/widgets/CalciteMeasure/styles/CalciteMeasure";

/*************************************************
  API overrides to be more calcite like.
*************************************************/

// no legend background when in panel
// same for layer list
.cov-vernonia--panel--widget.esri-legend,
.cov-vernonia--panel--widget.esri-layer-list {
  background-color: transparent;
}

// layer list updating indicator color
.esri-layer-list__item--updating:after {
  background-color: var(--calcite-ui-brand);
}
